.review-box {
    border: 1px solid #4d84a3;
    padding: 16px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.review-box p {
    margin: 5px 0;
}

h2 {
    font-family: Arial, sans-serif;
    color: #333;
    margin-bottom: 20px;
}

/*.review-box{*/
/*    border: medium #2ecc71;*/
/*    background-color: #6c757d;*/

/*}*/
.review-box .stars i {
    margin-left: 2px;
    font-size: 1rem;
    vertical-align: middle;
}
